body {
    margin: 0;
    padding: 0; 
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    
}

.Header {
    background-color: aliceblue;
    border-style: solid;
    border-color: red;
    height: 8%;
    margin: 0;
    padding: 0;
}

.pageWrapper {
    display: flex;
    height: 100%;
}

.Sidebar {
    background-color: #add8e6;
    float:left;
    width: 30%;
    height: 100%;
}

.ToDoSection {
    background-color: lightslategray;
    height: 100%;  
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.taskInput {
    background-color: lightgreen;
    margin: 10px 10px 0px 10px;
    padding: 0;
    height: 20%;
    align-self: center;
    width: 600px;
}

#title {
   text-align: center;
}

#taskInputLine {
    display: flex;
    justify-content: space-around;
}

/* #taskInputLine {
    padding-left: 20px;
}

#taskInputLine > input {
    margin-right: 20px;
}

#taskInputLine > select {
    margin-right: 20px;
    width: 80px;
} */

.List {
    margin: 0 10px 10px 10px;
    background-color: aliceblue;
    height: 80%;
    align-self: center;
    width: 600px;
    
}

.listItem {
    height: 30px;
    align-items: center;
    display: flex;
}

.listItem:first-child {
    margin-top: 7px;
}

.listItem > input {
    margin-left: 20px;
    margin-right: 10px;
}

.taskText {
    margin-left: 10px;
}

.taskTime {
    padding-right: 20px;

}

.listTimeAndTask {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* side bar items */

.sideBarText {
    display: flex;
    justify-content: center;
}

/* media queries */

@media (max-width: 550px) {
    .pageWrapper {
        flex-direction: column;
    }

    .Sidebar {
        width: 100%;
        height: 60%;
    }
    .ToDoSection {
        height: 500px;
    }
    #button {
        top: 305px !important;
        height: 30px !important;
        width: 300px !important;
    }
    .taskInput {
        height: 250px !important;
    }
    #taskInputLine {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .taskTime {
        padding-right: 0px !important;
    }
    #startTimeSection {
        width: 90px;
    }
    #taskSection {
        margin-left: 10px;
    }
    #button {
        width: 280px !important;
    }
    .taskTime {
        margin-right: 20px;
    }
}

@media (max-width: 830px) {
    .taskInput {
        width: 480px;
        height: 180px;
    }
    .List {
        width: 480px;
    }
    #taskInputLine {
        justify-content: none;
        padding-right: 20px;
        padding-left: 20px;
    }
    #button {
        position: fixed;
        height: 30px;
        top: 125px;
        width: 200px;
    }
}

@media (max-width: 690px) {
    .taskInput {
        width: 300px;
    }
    .List {
        width: 300px;
    }
    #button {
        top: 135px;
    }
}